@charset "UTF-8";

.board-articleList{
    width: 80%;
    margin: auto;
}

/* 거래 영역  */
.article-trade{
    width: auto;
    height: auto;
    border: 1px solid #0193F8;
    border-radius: 10px;
    margin: 30px 0px;
    padding: 20px 20px;
}
div{
    padding: 5px;
}
.share-button {
	display: flex;
	justify-content: center;
}
.share-button button{
	margin: 10px;
}
/* 글의 유저 정보 첫번째 요소를 제외한 span태그전에 적용 */
.article-memberInfo span:not(:first-child)::before{
    content: ' | ';
}
.reply-detail{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.reply-view{
    border: 1px solid #0193F8;
    border-radius: 2.5px;
}
.reply-member{
    border-bottom: 1px solid #0193F8;
    
}
.reply-login > span{
    display: block;
    text-align: center;
}
.rep-content{
    border: none;
    resize: none;
    width: 90%;
    height: 90%;
    background-color: transparent;
}
button{
    width: auto;
    height: 25px;
    margin: 0 5px;
    color: white;
    background-color: #0193F8;
    border: none;
    border-radius: 14px;
}
/* 펼치기 버튼 */
.reply-list button{
    background-color: transparent;
    color: #0193F8;
    font-size: 16px;
}
/* 추천 비추천 버튼 */
#btns-vote button{
    width: 100px;
    height: 80px;
    font-size: 20px;
    background-color: #eeeeee;
    color: black;
    margin: 15px;
}

/* 1번째 부터 2번째 까지 */
#btns-vote button:nth-child(-n+2):hover {
    background-color: #0193F8;
    color: white;
}

/* 3번째 부터 4번째 전까지 */
#btns-vote button:nth-child(n+3):hover {
    background-color: red;
    color: white;
}


.btns-tag{
padding: 0px 2px;
background-color: transparent;
color: #0193F8;
}
.btns-tag::before{
    content: '#';
}


/* modal 부분 */
#myModal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.myModal-window {
    position: relative;
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 60%;
    height: 70%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    background-image: linear-gradient(to right, white 40%, #0193F8 100%);
    animation: modal-animation 1s;
    padding: 50px;
  }
.modal-head{
    display: flex;
    font-size: 40px;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
}
.modal-body {
    overflow-y: auto;
}
.modal-close{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
/* 기능 버튼 */
.btns-action{
    width: 80px;
    height: 30px;
    font-size: 14px;
    border-radius: 10px;
}
.btns-action:hover{
    background-color: rgba(1, 147, 248, 0.8);
}