@charset "UTF-8";
body {
	width: 100%;
	display: grid;
	/* grid-template-columns: 360px 1fr 360px; */
	grid-template-columns: 300px minmax(820px, 1fr) 300px;
	/* grid-template-columns: 1fr 700px 1fr; */
	/* grid-template-columns: 1fr minmax(700px, 1fr) 1fr; */
	grid-template-rows: 100px 1fr 200px;
	grid-template-areas:
		"header header header"
		"leftside main rightside"
		"footer footer footer";
}
header {
	grid-area: header;
	height: 100px;
	background-color: var(--theme);
	border-bottom: 0.5px solid #CCCCCC;
	z-index: 99;
}
aside {
	/* background-color: var(--backtheme); */
}
aside#leftside {
	grid-area: leftside;
}
main {
	grid-area: main;
	background-color: var(--theme);
}
aside#rightside {
	grid-area: rightside;
}
footer {
	grid-area: footer;
	height: 200px;
	border-top: 0.5px solid #CCCCCC;
	background-color: var(--theme);
}

header > div#usernav {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: var(--backtheme);
}
header > div#usernav > a {
	font-size: 14px;
	color: var(--subtheme);
	font-weight: bold;
	margin: 0 5px;
}
header > div#topbar > div#logo-div, header > div#topbar > div#top-right { width: 200px; }
header > div#topbar > div#top-right {
	display: flex;
	/* justify-content: space-between; */
	justify-content: flex-end;
	align-items: center;
}
header > div#topbar > div#top-right > *:not(:first-child) {
	margin-left: 30px;
}
header > div#topbar {
	display: flex;
	/* justify-content: space-between; */
	justify-content: center;
	align-items: center;
	height: calc(100% - 21px);
}
header > div#topbar > div#topmenu {
	display: flex;
	height: 100%;
	justify-content: flex-start;
	align-items: stretch;
}
header > div#topbar > div#topmenu > div.menu-separator {
	width: 0;
	height: 20px;
	border: 1px solid #888888;
	opacity: 0.25;
	margin: 29.5px 0;
}
header > div#topbar > div#topmenu > a.menuitem {
	display: block;
	font-size: 18px;
	background-color: var(--theme);
	padding: 0 10px;
	line-height: 79px;
	font-weight: bold;
	width: 120px;
	text-align: center;
}
div#dropdown {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	height: 0px;
	background-color: var(--theme);
	border-bottom: 0.5px solid #CCCCCC;
	transition: height .125s cubic-bezier(.5,1,.5,1);
	overflow: hidden;
}
header > div#topbar > div#topmenu > a.menuitem:hover ~ div#dropdown,
header > div#topbar > div#topmenu > div.menu-separator:hover ~ div#dropdown,
header > div#topbar > div#topmenu > div#dropdown:hover {
	height: 192.5px;
}
header > div#topbar > div#topmenu > div#dropdown > div.submenu-items {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}
header > div#topbar > div#topmenu > div#dropdown > div.submenu-items > div.submenu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	width: 120px;
	margin: 0 1px;
}
header > div#topbar > div#topmenu > div#dropdown > div.submenu-items > div.submenu > a.submenuitem {
	display: block;
	width: 100%;
	height: 32px;
	line-height: 32px;
	font-size: 16px;
	background-color: var(--theme);
	text-align: center;
}
.fix-header {
	top: -21px;
	position: fixed;
	grid-area: none;
	width: 100%;
}

/* Dark And Light Mode Switcher */
#viewMode {
	border: 2px solid var(--subtheme-font);
	border-radius: 14.5px;
	width: 54px;
	height: 29px;
	background-color: var(--subtheme);
	position: relative;
}
#viewModeButton {
	border: 0;
	background-color: var(--subtheme-font);
	width: 20px;
	height: 20px;
	border-radius: 10px;
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	transition: left .25s cubic-bezier(.5, 1, .5, 1);
}
#viewMode[data-toggle="true"] > #viewModeButton {
	left: 27.5px;
}

/* User Info Popup */
div.popup-group {
	position: relative;
}
div.popup-group > button.togglePopup {
	width: 50px;
	height: 50px;
	overflow: hidden;
}
div.popup-group > button.togglePopup > * {
	pointer-events: none;
}
div.popup-group > div.popup-window {
	position: absolute;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: var(--theme);
	border: 2px solid #CCCCCC;
	top: 64.5px;
	right: 0px;
}

/* User Information Popup */
button#userInfo {
	padding: 0;
	background-color: var(--theme);
	outline: none;
	border: none;
	cursor: pointer;
}
div#user-profile {
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 25px;
	overflow: hidden;
	pointer-events: none;
	border: 2px solid var(--subtheme);
}
div#user-profile > img {
	width: 46px;
	height: 46px;
	pointer-events: none;
	object-fit: cover;
}
div#userInfo-popup {
	padding: 0;
}
div#userInfo-popup > div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

/* Buttons */
button#login-button {
	width: 100px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 16px;
}
button.init-button {
	border: 0;
	background-color: var(--theme);
	padding: 0;
	margin: 0;
	outline: none;
	cursor: pointer;
}
button > svg {
	pointer-events: none;
}
button#scrollToTop, button#scrollToBottom {
	position: fixed;
	width: 40px;
	height: 40px;
	outline: none;
	border: 0.5px solid var(--subtheme);
	border-radius: 10px;
	background-color: var(--theme);
	cursor: pointer;
	opacity: 0.5;
	box-shadow: 0 5px 5px var(--theme-font);
}
button#scrollToTop {
	bottom: 60px;
	right: 10px;
}
button#scrollToBottom {
	bottom: 10px;
	right: 10px;
}

/* Footer */
#footer-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}