@charset "UTF-8";
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
.container {
	display: flex;
	width: 800px;
	height: 600px;
	border: 1px solid #ccc;
}
.message-sidebar {
	width: 200px;
}
.sidebar-menu {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}
/* 프로필 영역 */
.menu-profile {
	background-color: #0193F8;
	padding: 40px;
	height: 100px;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 20px;
	font-weight: bold;
}
.menu-profile img{
	width: 100px;
	border-radius: 50px;
}
.menu-item {
	display: flex;
	flex-direction: column; 
	padding-top: 30px;
	height: 100%;
	
}
/* 사이드바 버튼 */
.menu-item button{
	margin: 10px 0px;
	padding: 10px 0px;
	border-radius: 10px;
	background-color: #3f7ab5;
	color: white;
	border: none;
	font-size: 20px;
	font-weight: bolder;
}
.message-content {
	flex: 1;
	padding: 40px;
}
/* 두번째 자식 요소 제외 (받은 쪽지함) */
.message-content > *:not(:nth-child(2)) {
	display: none;
}
.message-content h2{
	flex: 1;
	padding: 20px;
	font-size: 26px;
    margin-bottom: 90px;
    color: #333;
}
.message-list{
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 10px;
    padding: 10px;
}
/* 쪽지 쓰기 */
.content-write {
	height: 100%;
}
div.write-group:first-of-type {
	background-color: #0193F8;
	color: white;
	font-size: 20px;
}
.write-group{
	display: flex;
	flex: 1;
	align-items: center;
	margin: 30px;
	height: 50px;
	font-weight: bold;
}
.write-group input{
	height: 30px;
	border-radius: 10px;
	margin-left: 10px;
	border: none;
}
.write-group button{
	height: 30px;
	border-radius: 10px;
	border: none;
	background-color: #0193F8;
	color: white;
	font-size: 18px;
}
.write-group textarea{
	width: 100%;
    height: 120px;
	resize: none;
	font-size: 16px;
	color: #495057;
	background-color: #fff;
    border: 1px solid rgba(0, 123, 255, .2);
    border-radius: 10px;
	transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.list-title {
	display: flex;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 5px;
}
.list-content{
	display: none;
}
.list-title span:nth-child(1) {
    width: 120px;
  }
.list-title span:nth-child(2) {
	flex-grow: 2;
	margin: 0 10px;
}
.list-title span:nth-child(3) {
	font-size: 14px;
	color: #888;
}

.list-content {
	color: #555;
}
.menu-item button:hover{
	background-color: #0193F8;
}