@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

:root, :root[color-theme='light'] {
	--theme: #FFFFFF;
	--theme-rgb: 255, 255, 255;
	--theme-font: #333333;
	--theme-font-rgb: 51, 51, 51;
	/* --subtheme: #2368e8;
	--subtheme-rgb: 35, 104, 232; */
	--subtheme: #0193F8;
	--subtheme-rgb: 1, 147, 248;
	--subtheme-font: #FFFFFF;
	--subtheme-font-rgb: 255, 255, 255;
	--warning: #FF0000;
	--warning-rgb: 255, 0, 0;
	--confirm: #308830;
	--confirm-rgb: 48, 136, 48;
	--backtheme: #EEEEEE;
	--backtheme-rgb: 238, 238, 238;
}
:root[color-theme='dark'] {
	--theme: #000000;
	--theme-rgb: 0, 0, 0;
	--theme-font: #CCCCCC;
	--theme-font-rgb: 204, 204, 204;
	/* --subtheme: #333333;
	--subtheme-rgb: 51, 51, 51; */
	--subtheme: #2368e8;
	--subtheme-rgb: 35, 104, 232;
	--subtheme-font: #FFFFFF;
	--subtheme-font-rgb: 255, 255, 255;
	--warning: #FF0000;
	--warning-rgb: 255, 0, 0;
	--confirm: #308830;
	--confirm-rgb: 48, 136, 48;
	--backtheme: #111111;
	--backtheme-rgb: 17, 17, 17;
}

* {
	font-family: "Noto Sans KR", sans-serif;
	color: var(--theme-font);
}
a, a:link, a:visited, a:hover, a:active {
	color: inherit;
	text-decoration: none;
}
svg {
	stroke: var(--theme-font);
}
textarea { resize: none; }