@charset "UTF-8";
input[type="text"] {
	min-width: 0;
}
div.form-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}
#articleEditor {
	height: 600px;
	margin: 5px 0;
}
div.input-box {
	margin: 10px 0;
	display: flex;
	justify-content: flex-start;
	align-content: center;
}
div.input-box > label {
	font-weight: bold;
	padding: 2.5px 5px;
	border-radius: 2.5px 0 0 2.5px;
	border-left: 5px solid var(--subtheme);
	font-size: 18px;
}
div.input-box > input, div.input-box > select {
	outline: none;
	border: none;
	border-bottom: 2.5px solid var(--subtheme);
	font-size: 18px;
}
input.art-tag {
	flex-grow: 1;
}

div#tag-box {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-grow: 0;
	border-bottom: 2.5px solid var(--subtheme);
	border: 0;
}

div#tag-box > div.tag-box-tag {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--subtheme);
	color: var(--subtheme-font);
	font-size: 12px;
	font-weight: bold;
	padding: 2.5px 5px;
	border-radius: 5px;
	border: none;
	margin-right: 5px;
}
div.tag-box-tag > span.tag-box-tag-value {
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	margin-right: 2.5px;
}
div.tag-box-tag > button.tag-box-tag-remove {
	border-radius: 50%;
	border: none;
	outline: none;
	width: 14px;
	height: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	background-color: var(--subtheme);
	cursor: pointer;
}
button.tag-box-tag-remove * {
	pointer-events: none;
}
button.tag-box-tag-remove > svg {
	stroke: var(--subtheme-font);
}

div#trade-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	margin: 5px 0;
}
div#trade-info input {
	min-width: 0px;
	width: auto;
}

form#update-form button[type="submit"] {
	width: 100%;
	outline: none;
	border: 0;
	border-radius: 5px;
	background-color: var(--subtheme);
	color: var(--subtheme-font);
	font-size: 16px;
	font-weight: bold;
	padding: 5px;
	margin: 5px 0;
	cursor: pointer;
}

form div.popup-group {
	position: relative;
	margin: 5px 0;
	height: 32px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	z-index: 90;
}
form div.popup-group > button.togglePopup {
	width: 120px;
	height: 32px;
	overflow: hidden;
	margin: 0;
	margin-left: 10px;
}
form div.popup-group > button.togglePopup > * {
	pointer-events: none;
}
form div.popup-group > div.popup-window {
	position: absolute;
	border-radius: 2.5px;
	background-color: var(--theme);
	border: 2px solid #CCCCCC;
	bottom: 32px;
	left: 44px;
}
button#region {
	font-size: 14px;
	font-weight: bold;
	height: 32px;
}
div#region-popup {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	border: 2px solid var(--subtheme);
	font-size: 14px;
	font-weight: bold;
	height: 400px;
}
div.popup-window > div > button {
	width: 116px;
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: bold;
}
div.popup-window > div > button {
	background-color: var(--theme);
}

button.subitem-header ~ div.subitem-list {
	display: none;
	position: absolute;
	bottom: 0px;
	left: 116px;
	background-color: var(--theme);
	border: 2px solid var(--subtheme);
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}
button.subitem-header:hover ~ div.subitem-list,
button.subitem-header ~ div.subitem-list:hover {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}
div.subitem-list > button {
	width: 116px;
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: bold;
}
div.subitem-list > button {
	background-color: var(--theme);
}

/* quill Editor Styles */
.ql-picker-options {
	max-height: 200px;
	overflow-y: auto;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="8px"]::before { content: '8px'; font-size: 8px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="9px"]::before { content: '9px'; font-size: 9px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="10px"]::before { content: '10px'; font-size: 10px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="11px"]::before { content: '11px'; font-size: 11px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="12px"]::before { content: '12px'; font-size: 12px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="13px"]::before { content: '13px'; font-size: 13px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before { content: '14px'; font-size: 14px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="15px"]::before { content: '15px'; font-size: 15px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before { content: '16px'; font-size: 16px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="17px"]::before { content: '17px'; font-size: 17px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before { content: '18px'; font-size: 18px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="19px"]::before { content: '19px'; font-size: 19px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before { content: '20px'; font-size: 20px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="21px"]::before { content: '21px'; font-size: 21px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="22px"]::before { content: '22px'; font-size: 22px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="23px"]::before { content: '23px'; font-size: 23px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="24px"]::before { content: '24px'; font-size: 24px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="25px"]::before { content: '25px'; font-size: 25px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="26px"]::before { content: '26px'; font-size: 26px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="27px"]::before { content: '27px'; font-size: 27px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="28px"]::before { content: '28px'; font-size: 28px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="29px"]::before { content: '29px'; font-size: 29px !important; }
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="30px"]::before { content: '30px'; font-size: 30px !important; }